<div class="post clearfix" itemscope itemtype="http://schema.org/BlogPosting">

	<div class="col-xs-8 inner">
		<h3 class="title"><a href="[[~[[+id]]]]" itemprop="url"><span itemprop="name">[[+pagetitle]]</span></a></h3>

		<p class="post-info date">[[%articles.posted_by]] <a href="[[~[[*id]]]]author/[[+createdby:userinfo=`username`]]">[[+createdby:userinfo=`username`]]</a> | <span class="date"><time itemprop="dateCreated" datetime="[[+publishedon:strtotime:date=`%Y-%m-%d`]]">[[+publishedon:strtotime:date=`%b %d, %Y`]]</time></span> [[+tv.articlestags:notempty=` | <span class="tags">[[%articles.tags]]: [[!tolinks? &items=`[[+tv.articlestags]]` &target=`[[*id]]` &useTagsFurl=`1`]]</span>`]]</p>

		<div class="entry" itemprop="description">
			[[+introtext:default=`[[+content:ellipsis=`200`]]`]]
		</div><!--/.entry -->

		<div class="postmeta">
			<span class="links">
				<a href="[[~[[+id]]]]" class="btn" itemprop="url">[[%articles.read_more]]</a>
				[[+comments_enabled:is=`1`:then=`| <a href="[[~[[+id]]]]#comments" class="comments">[[%articles.comments]] ([[!QuipCount? &thread=`article-b[[+parent]]-[[+id]]`]])</a>`]]
			</span>
		</div><!--/.postmeta -->

	</div><!--/.col -->
	
	<div class="col-xs-4 noPadding noMargin">
		<img src="[[+tv.articleImage:phpthumbof=`w=300&h=300&q=70&zc=[[+tv.zoomCrop]]&far=c&aoe=1`]]" class="img-responsive" alt="[[+pagetitle]] image"/>
	</div><!--/.col -->

</div>