<div class="slide col-xs-12 noPadding noMargin">
	<div class="col-xs-12 col-sm-7 col-md-8 block noPadding noMargin image">[[+placeholder_link:ne=``:then=`<a href="[[+placeholder_link]]">`]]<img src="[[+placeholder_image]]" class="img-responsive" alt="[[+placeholder_title]]"/>[[+placeholder_link:ne=``:then=`</a>`]]</div>
	<div class="col-xs-12 col-sm-5 col-md-4 block noMargin info">
		<hr />
		<h1>[[+placeholder_title]]</h1>
		<p class="hidden-sm">[[+placeholder_intro]]</p>
		[[+placeholder_link:ne=``:then=`<a class="btn" href="[[+placeholder_link]]">Discover More</a>`]]
	</div>
</div>