<div>
	<section class="homeHero container-fluid noPadding" style="background-image:url([[pthumb? &input=`[[+placeholder_image]]` &options=`q=75` &useResizer=`0`]]);"> [[!CommonTools? &cmd=`loadChunk` &name=`header`]]
		<div class="valign">
			<div class="vac">
				<div class="container noPadding">
					<div class="col-xs-12 noPadding" id="development[[+idx]]">
						<div class="info col-xs-12 col-sm-5">
							<hr />
							<h1>[[+placeholder_title]]</h1>
							<p>[[+placeholder_intro]]</p>
							<a class="btn" href="[[+placeholder_link]]">Discover More</a> 
							
							<div class="col-xs-12 socialMedia noPadding noMargin">
								<a class="facebook" href="https://www.facebook.com/erichutchinsonmp" target="_blank"><i class="fa fa-facebook"></i><span class="visuallyhidden">Facebook</span></a>
								<a class="twitter" href="https://twitter.com/hutchinson_eric" target="_blank"><i class="fa fa-twitter"></i><span class="visuallyhidden">Twitter</span></a>
								<a class="youtube"><i class="fa fa-youtube"></i><span class="visuallyhidden">youtube</span></a>
							</div>
						</div>               
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
