<div class="row quickLink">
            	<div class="col-xs-12 col-sm-6 noPadding noMargin image" style="background-image:url([[+placeholder_image:phpthumbof=`w=600&h=500`]])">
                
                
                
                </div>
            	<div class="col-xs-12 col-sm-6 noMargin info">
					<hr />
                    <h3>[[+placeholder_title]]</h3>
                    <p>[[+placeholder_intro]]</p>
                    <a class="btn" href="[[+placeholder_link]]">Discover More</a>
                </div>          
</div>