<div class="col-xs-12 col-sm-6 col-md-3 articleListItem"> 
	<a href="[[~[[+id]]]]">
		<div class="col-xs-6 col-md-12 noMargin info">
			<div>
				<p class="date">[[+publishedon:strtotime:date=`%m/%d/%Y`]]</p>
				<hr/>
				<h4>[[+pagetitle]]</h4>
				<span class="btn">Read More</span>
			</div>
		</div><!--/.col -->
		<div class="col-xs-6 col-md-12 image noMargin" style="background-image:url([[+tv.articleImage:phpthumbof=`w=300&h=300&zc=[[+tv.zoomCrop]]`]]);">
		</div>
	</a> 
</div>