@import 'jquery.mmenu.all';

/* $CONTENTS
/*------------------------------------*/
/**
 * CONTENTS................. You’re reading it!
 * BOOTSTRAP ............... Customisation and Import
 * VARIABLES ............... Other Variables for site
 * WIREFRAME ............... Setting for Wireframe
 * TYPOGRAPHICAL ........... Common elements
 * LISTS ...................
 * IMAGES ..................
 * LAYOUT ..................
 * FORMS ................... 
 * TABLES .................. 
 * HELPER CLASSES .......... 
 * LEGACY ...............Legacy and fallback styles

 */

 @mixin MQ($media) {
 	@if $media == xs-min {
 		@media only screen and (min-width: $screen-xs-min) { @content; }
 	}
    @else if $media == xs {
        @media only screen and (max-width: $screen-xs-max) { @content; }
    }
 	@else if $media == sm-min {
 		@media only screen and  (min-width: $screen-sm-min) { @content; }
 	}
    @else if $media == sm {
        @media only screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { @content; }
    }
	@else if $media == md-min {
 		@media only screen and (min-width: $screen-md-min) { @content; }
 	}
    @else if $media == md {
        @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content; }
    }
 	@else if $media == lg-min {
 		@media only screen and (min-width: $screen-lg-min) { @content; }
 	}
 	@else if $media == ret {  
 		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; }
 	}
 }

 @mixin transition3 {
	transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
}
@mixin transition6 {
	transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
}
@mixin transition9 {
	transition: all 0.6s ease-in-out 0s;
	-o-transition: all 0.6s ease-in-out 0s;
	-ms-transition: all 0.6s ease-in-out 0s;
	-moz-transition: all 0.6s ease-in-out 0s;
	-webkit-transition: all 0.6s ease-in-out 0s;
}

 @mixin retinize($file, $type, $rep, $x, $y, $width, $height) {
 	background: transparent url('../images/' + $file + '.' + $type) $rep $x $y;

 	@media (-webkit-min-device-pixel-ratio: 1.5),
 	(min--moz-device-pixel-ratio: 1.5),
 	(-o-min-device-pixel-ratio: 3/2),
 	(min-device-pixel-ratio: 1.5),
 	(min-resolution: 1.5dppx) {
 		& {
 			background: transparent url('../images/' + $file + '@2x.' + $type) $rep $x $y;
 			-webkit-background-size: $width $height;
 			-moz-background-size: $width $height;
 			background-size: $width $height;
 		}
 	}
 }

 @mixin transition-all($time) {
 	-webkit-transition: all $time;
 	-moz-transition: all $time;
 	-ms-transition: all $time; /* IE10 is actually unprefixed */
 	-o-transition: all $time;
 	transition: all $time;
 }



/* BOOTSTRAP
/*------------------------------------*/


// Bootstrap variables customisation.
// Settings for some of the most global styles. Overrides varation.scss

// Gradient
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Set pallette colors
$brand-primary:         #1a3a52 !default;
$brand-success:         #0066a2 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// Background color for `<body>`.
$body-bg:               #fff !default;

// Global text color on `<body>`.
$text-color:            $gray-dark !default;

// Global textual link color.
$link-color:            $brand-primary !default;

// Link hover color set via `darken()` function.

//== Typography

// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.75)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.25)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.875)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.75)) !default; // ~12px

// Import Bootstrap
@import "../bs-assets/stylesheets/bootstrap/variables";
@import "../bs-assets/stylesheets/bootstrap";


// Small devices (tablets, 768px and up)
// @media (min-width: @screen-sm-min) { ... }

// Medium devices (desktops, 992px and up)
// @media (min-width: @screen-md-min) { ... }

// Large devices (large desktops, 1200px and up)
// @media (min-width: @screen-lg-min) { ... }


/* $VARIABLES
/*------------------------------------*/

// 01 colours

$highlight: $gray-light;

$blue:      #0066a2;
$dk-blue:   #1a3a52;
$gold:   	#fcba60;
$grey: 		#676b6d;
$lt-grey: 	#d3d8da;
$dk-grey:   #4A4E50;
$green: 	#8d9b59;

$black: 	#181818;

$link-hover-color:     $gold !default;

/* $WIREFRAME
/*------------------------------------*/

$brand-primary: $blue;


a{
	color:$blue;
	&:hover{
		color:$gold;
	}
}


p, ul, ol{
	line-height:1.75em;
	color:$grey;
	margin-bottom:18px;
	}


/* $TYPOGRAPHICAL
/*------------------------------------*/
	h1{
		font-size:2.25em;
		text-transform:uppercase;
		color:$dk-blue;
		margin-bottom:30px;
	}
	h3{
		font-size:1.125em;
		text-transform:uppercase;
		font-weight:700;
		letter-spacing:1px;
		color:$dk-blue;
		a{
		color:$dk-blue;
			}
	}
	h4{
		text-transform:uppercase;
		font-size:1em;
		color:$dk-blue;
		line-height:1.5em;
		font-weight:700;
		letter-spacing:1px;
		}


input[type=submit]{
	background-color:$blue;
	color:#FFFFFF;
	border:none;
	padding:5px 15px;
	text-transform:uppercase;
	font-weight:600;
	font-size:.8125em;
	&:hover, &:focus{
		background-color:$dk-blue;
		}	

	}

.btn {
	font-size:.8125em;
	text-transform:uppercase;
	font-weight:600;
	color:$blue;
	background-color:transparent;

	padding:0px;
	&::before{
		content: '\f061';
		padding-right:5px;
		font-size: 13px;
		font-family: "FontAwesome";		
		}
	&:hover, &:focus{
		color:$dk-blue;
		}	
	}
 footer nav > ul{&> li {
		font-size:.8125em;}}

header nav > ul, footer nav > ul{
	float: left;
	padding-left: 0;
	margin-top:20px;
	line-height:1em;
	&> li {
		font-size:.8125em;
		margin:0px;
		float: left;
		list-style-type: none;
		margin-right: 1em;
		padding-top:10px;
		padding-bottom:10px;
			a{
				font-weight:600;
				text-transform:uppercase;
				padding-left:15px;
				padding-right:15px;
			}
		&:hover {
				position: relative;
				ul {
					display: block;
					font-size:.843em;
				}
			}
		ul {
					background-color: $lt-grey;
					display: none;
					height: auto;
					left: 0;
					padding: 0px 0;
					position: absolute;
					top: 35px;
					transition: all 0.3s ease-in-out 0s;
					width: 200px;
					text-align:left;
					z-index:10;
					li {
						display: block;
						height: auto;
						width: 200px;
						padding:0px;
				&.active a{
						color:$blue !important;
					}
						&:hover {
							position: relative;
							background: $blue;
							a{
								color:#FFFFFF !important;
								text-decoration:none;
								}

							a:link, a:visited {
								border-bottom: 1px solid $dk-blue;
							}
						}
						a:link, a:visited {
							text-align:left;
							border-bottom: 1px solid darken($lt-grey,10);
							color: $dk-blue;
							font-weight: 400;
							width:100%;
							padding:10px;
							display:block;
							line-height: 1;
							margin: 0px;
							font-weight:800;
				}
				
				&.active a{
						color:$gold;
					}
			}
	}

			
			
			
	}		
		&> li::after{
			content:'/';
			}
		&> li.last::after{
			content:'';
			}

}

.active a {
	color: $gold;
}

header{
	ul{
		li a{
			color:#FFFFFF;
		}
	}
}
footer {
	ul{
		width:100%;
		li a{
			color:$grey;
		}
	}
}



.valign {
  height: 100%;
  display: table !important;
 /* overflow: hidden; */
}
.halign {
width: 100%;
}
.vac {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.vab {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}

.hac{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}


.noMargin{
	margin:0px !important;
	}
.noPadding{
	padding-left:0px !important;
	padding-right:0px !important;
	}
.row.noPadding{
	padding-top:0px;
	padding-bottom:0px;
	}

.fancybox-type-iframe .fancybox-inner{
	width:auto !important;
	height:auto !important;
	}
.fancybox-skin{
	padding:0px !important;
	}
.fancybox-close{
	right:-15px !important;
	top:-35px !important;
	}
.fancybox-outer{
	border:solid 1px #FFFFFF !important;}


.animated {
    visibility: hidden;
}
.visible {
    visibility: visible;
}


h1{
	font-weight:700;
	}
	h2{
		text-transform:uppercase;
		font-size:1.8125em;
		font-weight:700;
		letter-spacing:1px;
		margin-bottom:55px;
		margin-top:55px;
		color:$dk-blue;
		}
		
html, body{
	height:100%;
	font-family: 'Raleway', sans-serif;
	}

p{
	font-family: 'Open Sans', sans-serif;
	}

	hr{
		width:68px;
		border:none;
		border-top:solid 2px #0066a2;
		margin-left:0px;
		}
section.grey{
		background-color:$lt-grey;
	}

.homeHero, .homeSlider, .homeFeature{
	h1{
		text-transform:uppercase;
		font-size:1.125em;
		letter-spacing:1px;
		margin-bottom:35px;
		margin-top:30px;
		}
	.info{
		padding:55px 50px;
		}
}

.homeHero{
	padding-bottom:120px;
	background-size:cover;
	background-position:right;
/* 	height:100%;*/
	.container{
		padding-top:80px !important;
	}
	.info{
		background-color:#eeede8;
		h1{
			color:$grey;
		}
		p{
			color:$grey;
			margin-bottom:45px;
		}
	}
.socialMedia a{
	color:#676b6d;
	background-color:#eeede8;
	padding-left:0px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:0px;
	:hover{
		color:$blue;
		}
	}
}



.bannerImage, .articleImage{
	background-size:cover;
	background-position:top right;
	width:100%;
	padding-top:30px;
	padding-bottom:150px;
	overflow:hidden;
	
	  @include MQ(xs){
		  padding-top:0px;
		padding-bottom:50px;
		  }

	
	hr{
		border-color:#FFFFFF;
		margin-top:0px;
		margin-bottom:28px
		}
	.info{
		border:solid 1px #eeede8;
		margin-top:130px;
		padding:55px 45px 65px 45px;
	
	  @include MQ(xs){
		  padding:20px;
		  margin-top:50px;
		  }

	h1{
		font-size:2.75em;
			
	  @include MQ(xs){
		  font-size:2em;
		  }

		}
	h1, h3{
		color:#FFFFFF;
		margin:0px;
		line-height:1em;
		
		}
	p{
		color:#FFFFFF;
		text-transform:uppercase;
		margin-bottom:45px;
		}
	}
}

.post{
	background-color:#FFFFFF;
	margin-bottom:10px;
	padding-left:15px;
	.inner{
		padding-top:8px;
		}
	.date{
		color:$green;
	}

	p{
		font-size:0.9375em;
		line-height:1.4em;}
	}
.entry{
	p{
		display:none;
		}
	p:nth-of-type(1){
		display:block !important;
		}

	}

.articleImage{
	height:450px;
	padding:0px;
	position:relative;
	}
.imageParallax { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-size: cover; background-repeat: no-repeat; }
	
.content{
	padding-bottom:80px;
	background-color:#FFFFFF;
	z-index:1;
	position:relative;
	li{
		margin-bottom:10px;
		}
	}
.blogListing{
	padding-top:50px;
	}

.breadcrumbs{
	margin-top:40px;
	margin-bottom:60px;
		font-size:.625em;
	font-weight:600;

	.icon-stop{
		color:$lt-grey;
		padding-right:8px;
	}
	span{
		text-transform:uppercase;
		color:$blue;
		}

	a{
		margin-right:10px;
		color:#bfc4c8;
		text-decoration:none;
		&:hover{
			color:$blue;
		}
	} 
}


.homeSlider 
{
	padding-top:80px;
	padding-bottom:80px;


	.info{
		background-color:$dk-blue;
		  @include MQ(md){
			  padding:30px;
		  }
		  @include MQ(sm){
			  padding:20px;
		  }
		
		h1,p{
			color:#FFFFFF;
		}
		p{
			margin-bottom:25px;
			font-size:.875em;
			line-height:1.5em;
			}
		a{
			color:$gold;
			}
		hr{
			border-top:solid 2px $gold;
			}
	}
}

.homeFeature{
	h1{
		margin-bottom:0px;
		}
	h2{
		text-transform:uppercase;
		font-size:1.8125em;
		font-weight:700;
		letter-spacing:1px;
		margin-bottom:55px;
		margin-top:10px;
		}
	h1, h2{
		color:$dk-blue;
		}
	p{
		color:$grey;
		}
}


.latestArticles{
	background-color:$lt-grey;
	.date{
		color:$green;
		}
	.info{
		background-color:#FFFFFF;
		padding:25px;
		}
	.image{
		background-size:cover;
		background-repeat:no-repeat;
		height:0px;
		padding-top:100%;
				  @include MQ(xs){
					  padding:0px;
				  }
				  @include MQ(sm){
					  padding:0px;
				  }
		}
	h4{
		height:120px;
		margin-top:40px;
		}

		  @include MQ(sm){
			  .date{
				  font-size:.725em;
				  margin-bottom:10px;
				  }
			  h4{
				height:auto;
			  	line-height:1.1em;
				margin-top:10px;
			  }
			  hr{
				  margin-bottom:5px;
				  }
		  }	

		  @include MQ(xs){
			  .date{
				  font-size:.725em;
				  margin-bottom:10px;
				  }
			  h4{
				height:auto;
			  	line-height:1.1em;
				margin-top:10px;
			  }
			  hr{
				  margin-bottom:5px;
				  }
		  }	
				
		

	}
.quickLink{
	h3{
		color:$grey;
		margin-bottom:45px;
		  @include MQ(xs){
			  margin-bottom:10px;
		  }	

		}
	.image{
		background-size:cover;
		background-repeat:no-repeat;
		min-height:220px;
		}
	.info{
		background-color:#e9ebec;
		padding:45px 100px 45px 120px;

	  @include MQ(md){
		  padding:30px 30px 30px 55px;
		  		 	}
	  @include MQ(sm){
		  padding:20px 20px 20px 30px;
		  		 	}
	  @include MQ(xs){
		  padding:20px 20px 20px 30px;
		  		 	}
		p{
			margin-bottom:35px;
			  @include MQ(xs){
				  margin-bottom:10px;
				  }	
			}
		}
		
	}	

.content{
	table{
		margin-bottom:20px;}
	td{ padding:5px 20px;	font-size:.825em;}
	th{ text-align:center;
	padding:1px;
	background-color:$blue;
	color:#FFFFFF;
	}
	tr:nth-of-type(odd){
		td:nth-of-type(odd){background-color:#F7F7F7;}
		td:nth-of-type(even){background-color:#E9F2F7;}
		}
	tr:nth-of-type(even){
		td:nth-of-type(odd){background-color:#FDFDFD;}
		td:nth-of-type(even){background-color:#F8FBFD;}
		}
	}


	
.quickLink:nth-of-type(even) {
	.image{
		@extend .col-sm-push-6;
		}
	.info{
		@extend .col-sm-pull-6;
		}
	}

.slick-prev, .slick-next{
	bottom:-30px;
	z-index:1;
	top:auto;
	}
.slick-prev{
	left:40px;
	}
.slick-next{
	right:40px;
	}

	.slick-dots {
		bottom: -1em;
		right: 2em;
		width: auto;
	}

.slick-dots li button:before{
	font-size:20px;
}
.slick-prev:before, .slick-next:before{
	color:$blue;}
.slick-dots li{
	margin:0px;
	}

input::-webkit-input-placeholder {
    color: #939a9d;
	font-size:.725em;
	padding-top:2px;}
input:-moz-placeholder {
    color: #939a9d;
	font-size:.725em;
	padding-top:2px;}
input::-moz-placeholder {
    color: #939a9d;
	font-size:.725em;
	padding-top:2px;}
input:-ms-input-placeholder {
    color: #939a9d;
	font-size:.725em;
	padding-top:2px;
	}
textarea::-webkit-input-placeholder {
    color: #939a9d;
	font-size:.725em;
	padding-top:2px;}
textarea:-moz-placeholder {
    color: #939a9d;
	font-size:.725em;
	padding-top:2px;}
textarea::-moz-placeholder {
    color: #939a9d;
	font-size:.725em;
	padding-top:2px;}
textarea:-ms-input-placeholder {
    color: #939a9d;
	font-size:.725em;
	padding-top:2px;
	}


.articleListItem{
	padding:0px 8px;
	}
	
.blogHeading{
	padding-top:55px;
	h2{
		float:left;
		margin-top:0px;
		}
	.btn{
		float:right;
		}
	}	

.newsletter-form{
	.btn{
		margin-top:10px;}
	}
	
.social{
	padding-top:65px;
	padding-bottom:50px;
	input[type=text],	input[type=email]{
		border:solid 1px #FFFFFF;
		padding:6px 6px 6px 20px;
		font-family: 'Raleway', sans-serif;
		font-size:.8725em;
		text-transform:uppercase;
		color:$dk-blue;
		line-height:1em;
		font-weight:700;
		letter-spacing:1px;
		width:100%;

		}
	p{
		color:$grey;}
	}	
.socialMedia{
	a{
		color:#FFFFFF;
		font-size:24px;
		padding:10px;
		line-height:1em;
		display:block;
		float:left;
		width:42px;
		height:42px;
		text-align:center;
		}
	.youtube{
		background-color:#fe3434;
		}
	.twitter{
		background-color:#2daae0;
		}
	.facebook{
		background-color:#3c5b9b
		}
	}





/* $IMAGES
/*------------------------------------*/
main img {
	@extend .img-responsive;
}

#header{
	z-index:10;
	width:100%;
	margin-top:0px;
	background-color:rgba(255,255,255,	0);
					transition: all 0.3s ease-in-out 0s;
.logo{
	background-color:rgba($blue, 0);
	}

	}
#header-sticky-wrapper{
	z-index:10;
	position:relative;
}

#header-sticky-wrapper.is-sticky #header, .showMenu #header{
	background-color:rgba(255,255,255,1.00);
	margin-top:0px;

	-webkit-box-shadow: 0px 2px 35px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 	0px 2px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 		0px 2px 3px 0px rgba(0,0,0,0.25);
	
	nav > ul > li > a{
		color:$grey;
		}
	nav > ul > li.active > a{
		color:$gold;
		}	
.logo{
	background-color:rgba($blue, 1);
	transition: all 0.3s ease-in-out 0s;
	}
	}

.gal-item{
	padding:0px !important;
	border:0px !important;
	margin:0px !important;
	border:none !important;
	
	width:10%;
	
					  @include MQ(xs){
	width:25%;
				  }
				  @include MQ(sm){
	width:20%;
				  }

	img{ max-width: 100%; height:auto;}
	
	
	
	}

/* $LAYOUT
/*------------------------------------*/

.mobilebars{
	float:right;
	font-size:30px;
	cursor:pointer;
	margin-right:20px;
	padding:10px;
	&:hover{
		color:$blue;
	}
}

.mm-menu{
	background-color:$blue;
	}
.mm-list{
	font-size:1.1em;
	color:#FFFFFF;
	.active a{
		color:$gold;
		}
	a:hover{
		color:$gold;
		}
	.mm-list{ font-size:.9em;}	

	
.mm-subopen:after{
border-color:#FFFFFF !important;	
	}

}

	
	
.mobileNav{
	display:none;
	.active > a{
		color:$gold;
	}
}


footer{
	padding-top:15px;
	padding-bottom:25px;
	ul{
		margin-bottom:0px;
		}
	.disclaimer{
		padding-left:15px;
		font-size:.6875em;
		color:#a5a8a9;
		font-weight:600;
		span{margin-right:15px;}
		a{
			color:#a5a8a9;
			&:hover{
				color:$blue;
				}
			}
		}
	}


.subButton{
	cursor:pointer;
	font-weight:900;
	font-size:1.6em;
	border-top:dashed #dddddd;
	border-bottom:dashed #dddddd;
	border-width:1px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:-1px;
	>div, > a > div  {
		font-weight:400;
		font-size:25px;
		float:left;
		margin-right:10px;
	}
	> a {
	}
}


.accordionButton{
	font-weight:600;
	border-top:solid 1px $lt-grey;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	position:relative;
	&:hover{
		cursor:pointer;
		color:$gold;
		}
	&::after{
		content: '\f063';
		padding-right:5px;
		font-size: 13px;
		font-family: "FontAwesome";
		position:absolute;
		right:0px;	
		}
	}
.accordionButton.active{
	&::after{
		content: '\f062';
		padding-right:5px;
		font-size: 13px;
		font-family: "FontAwesome";		
		}
	}	

aside {
	li{
		margin-bottom:0px !important;
		}
ul {
	list-style-type: none !important;
    padding-left: 0px;
	font-size:1em;
	ul{
		ul{ background-color:#FAFAFA; padding-top:5px;
		padding-bottom:5px;}
		li a{
			padding-bottom:5px;
			padding-left:15px;
			padding-top:5px;
			font-weight:700;
			font-size:.875em;
			color:$blue;
			}
		}
}
}
/* $FORMS
/*------------------------------------*/

.hideLabel label{
	display:none;
}
	
.lt-ie10{
	.hideLabel label{
		display:block !important;
		}
}

	.tabs{
		border-bottom:solid 1px $lt-grey;
		cursor:pointer;
		h2{
			margin-bottom:22px;
			font-size:1.125em;
			margin-top:22px;
			@include MQ(xs) {
				font-size:1.5em;
				margin-top:16px;
				margin-bottom:16px;
				
			}
		}
		h2:hover{
			color:$blue;
		}


		.accordion_content{
			padding-left:10px;
		}
		.fa-chevron-down{
			position:absolute;
			right:15px;	
		}
		&.active{
			h2{
			}
			.fa-chevron-down:before{
				content:"\f077" !important;
			}
		}
	}


/* -------------------------------------------------------------- */
/* = FORMS
/* -------------------------------------------------------------- */


.formSegWrap_submit {
	text-align:center;
	.elWrap{
		padding-right:0px !important;}
	}

.formSegWrap{
	margin-top:3px;


	.radioGroupWrap, .checkboxGroupWrap{
		padding-bottom:15px;
		padding-left:15px;
		}
	.checkboxWrap{
		clear:both;
		}
	.checkboxWrap > div, .radioEl{
		float:left;
		padding-right:8px;
		}
	.checkboxWrap label, .radioWrap label{
		font-weight:400;
		padding-top:2px;
		}
	

	select{
		font-size:1em;
		margin:2px;
		padding:4px 15px;
		border: solid 2px #eeeeee;
		}
	
	}

.formSegWrap, form {
	clear:none;
	margin-bottom:0px;
	position:relative;
.elementButton{
	display:inline-block;
	}

.checkWrap{
	float:left;
	input[type="radio"], input[type="checkbox"]{
		float:left;
		 margin-right:10px;
		}
	}

			input[type=text], input[type=email], input[type=password], textarea{
				padding:0px;
				width: 100%;
				box-sizing:border-box;
				background-color:#FDFDFD;
				color:$dk-grey;
				border:solid 1px;
				border-color:#c7c7c7;
				border-radius:3px;
				padding:6px 10px;
				margin-right: 10px;
				float: none;
				font-weight:400;
				&:focus{
					outline:none;
					border-color: $blue;
				}
			}




	label{
		padding:0px;
		float:none;
		font-weight:400;
		font-size:13px;
		display:block;
		&:after{
			content:'' !important;
		}
	}
	.hideLabel .mainElLabel{
		display:none;
	}
	.lt-ie10{
		.hideLabel label{
			display:block !important;
			}
	}
	
	.error{
		display:block;
		color:$blue;
		
	}
	label.error{ font-size:11px; position:absolute;}	
	.radioWrap{
		margin-right:10px;
		float: left;
		label{
			float:right;
		}
	}
	.elementCheckbox{
		float: left;
		clear: both;
		.elWrap{
			margin-right:0px;
			float: left;
		}
		label{
			float:right;
		}

	}

	.required .mainElLabel:after {
		content: " *";
		color: red;
	}
	
	.elWrap{
		text-align:left;
		padding-right:10px;
		padding-bottom:20px;
	}

	.Full{
		width:100%;
		float:left;
		@include box-sizing(border-box);
	}	
	.Half{
		width:50%;
		float:left;
		@include box-sizing(border-box);
	}
	.Quarter{
		width:25%;
		float:left;
		@include box-sizing(border-box);
	}
	.ThreeQuarters{
		width:75%;
		float:left;
		@include box-sizing(border-box);
	}
	.oneThird{
		width:33.3%;
		float:left;
		@include box-sizing(border-box);
	@include MQ(xs) {
		width:50%;
			}
			
			
 @media only screen and (max-width: 380px) { width:100%;}

		}
	.twoThirds{
		width:66.6%;
		float:left;
		@include box-sizing(border-box);
	@include MQ(xs) {
		width:100%;
			}
 @media only screen and (max-width: 380px) { width:100%;}

		}
	
}




.postederror{
	color:$blue;
	}



/* $TABLES
/*------------------------------------*/




/* $HELPER CLASSES
/*------------------------------------*/
//shows what size this busta is

#site-size-helper {
	height: 1.5em;
	color: green;
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	z-index: 100;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: 
	absolute; 
	width: 1px; 
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
	clip: auto; 
	height: auto; 
	margin: 0; 
	overflow: visible; 
	position: static; 
	width: auto; 
}

svg:not(:root) { 
	overflow: hidden; 
}

.valign {
	height: 100%;
	width: 100%;
	display: table !important;
	overflow: hidden;
}

.vac {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.hac{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

//mm menu fouc destroyer

#menu:not( .mm-menu ) {
   display: none;
}


    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;


      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }


/* $LEGACY
/*------------------------------------*/

/* webkit, opera, IE9 */
::selection { background: $highlight; }
/* mozilla firefox */
::-moz-selection { background: $highlight; }
// remove dotted border on links forever
a:focus,
a:active {
	outline: none;
	-moz-outline-style: none;
}